/* 
  THEMING
*/
@mixin dark {
	html[data-theme='dark'] & {
		@content;
	}
}
@mixin dark-hover {
	html[data-theme='dark'] &:hover {
		@content;
	}
}
@mixin dark-active {
	html[data-theme='dark'] &:active {
		@content;
	}
}
/* 
  DEVICE TARGETING
*/
@mixin hover {
	@media (hover: hover) {
		&:hover {
			@content;
		}
	}
}

@mixin noHover {
	@media (hover: none) {
		@content;
	}
}
/* 
  DEFAULT UI HIDERS
*/
@mixin hideScrollBar {
	&::-webkit-scrollbar {
		display: none;
	}
	-ms-overflow-style: none;
	scrollbar-width: none;
}

@mixin hideAutoFill($backgroundColor) {
	&:-webkit-autofill {
		box-shadow: 0 0 0px 1000px $backgroundColor inset;
		-webkit-box-shadow: 0 0 0px 1000px $backgroundColor inset;
	}

	&:-webkit-autofill:focus {
		box-shadow: 0 0 0px 1000px $backgroundColor inset;
		-webkit-box-shadow: 0 0 0px 1000px $backgroundColor inset;
	}
}
